.fuzzy {
   color: #999!important;
}

.footer_snippet {
   float: left;
   padding: 0 10px;
   width: 40vh;
}

.book_preview {
   width: 336px;
   margin: 0 auto;
}

img[alt=bookshelf] {
   float: left;
   margin: 0.5em 1em 1em 0;
   width: 136px;
}

img[alt=se-radio] {
   float: left;
   margin: 0.5em 1em 1em 0;
   width: 196px;
}
